<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoginPageTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />


@*    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@



    

    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">



 @*   <link rel="stylesheet" href="~/LoginPageTest.styles.css" asp-append-version="true" />*@


    <style>
        .bgimage {
            background-image: url("/images/image.jpg");
        }
    </style>
</head>
<body>
    <div class="container">
         <div class="d-lg-flex half">

    <div class="bg order-1 order-md-2 bgimage" style="
    box-shadow: 0px 0px 19px 4px lightgrey;"></div>
    <div class="contents order-2 order-md-1">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
            @RenderBody()
      </div>
        </div>
    </div>

    </div>
    </div>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    </div>

   <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
