
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout1";
}

@section Navbar {
      <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='@Url.Action("Index", "Pages")'">Home</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="@Url.Action("Index", "Pages")">
                <input class="form-control mr-sm-2" name="ItemName" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
}
<div class="wid">
    <div class="container mt-4">
        <div class="row" id="products">
            
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
            var url = '@Url.Action("moreLoad", "pages")';

            function loadImages() {

            $.ajax({
                type: 'GET',
                url: url,
                success: function(products) {
                    var $products = $('#products');

                    $.each(products, function(index, item) {
                        var html = '<div class="col-md-4 mb-4">' +
               '<div class="card">' +
                   '<div class="aspect-ratio-box">' +
                       '<img class="card-img-top img-fluid rounded-top" src="'+ item.imageSource+'" alt="Product 1">' +
                   '</div>' +

                   '<div class="card-body">' +
                       '<h4 class="card-title">'+ item.itemName+'</h4>' +
                       '<p class="card-text">'+ item.price +'</p>' +
                       '<small class="text-muted">'+item.rating +' stars</small>' +
                       '<div class="d-flex justify-content-between align-items-center">' +
                           '<button class="btn btn-primary">Add to Cart</button>' +
                       '</div>' +
                   '</div>' +
               '</div>' +
           '</div>';


                        $products.append(html);
                    });
                },
                error: function() {
                    console.log('Error loading products.');
                }
            });
            }
            loadImages()
            window.addEventListener('scroll',()=>{
              if(window.scrollY+window.innerHeight+400>=document.documentElement.scrollHeight){
                  console.log(window.scrollY+window.innerHeight)
                console.log(document.documentElement.scrollHeight)

            loadImages()
              }
            })
        });
    </script>

