@model User
@{

    ViewData["Title"] = "Registration Page";

}
<style>.container{
    display: block;
}
</style>


    <h3>Register to <strong>Homely Essentials</strong></h3>
    <p class="mb-4">Your ultimate destination for all things home, "Homely Essentials" is a shopping website .</p>


    <form method="post" asp-action="RegistrationPage" asp-controller="Registration">
        @{
            if (@ViewBag.ErrorMessage != null)
            {

                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>

            }
        }
        <div class="form-group first">
            <label asp-for="Username">User Name</label>
            <input type="text" asp-for="Username" placeholder="Enter your first name" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input type="email" asp-for="Email" placeholder="Enter your email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group last mb-5">
            <label asp-for="Password">Password</label>

            <input type="password" asp-for="Password" placeholder="Enter a password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>


            <input type="submit" value="Register" class="btn btn-block btn-primary" />


    </form>



